:root {
    color-scheme: light;
    /*color-scheme: dark;*/

    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;

    --main-color: #fff;
    /*--main-color: #8a2be2*/

    --second-color: #c8c8ff;
    /*--second-color: #3f1f7a;*/

    --over-main-color: #000;
    /*--over-main-color: #fff;*/

    --over-second-color: #000;
    /*--over-second-color: #fff*/

    --background-color: #d3d3d3;
    /*--background-color: #1c1b22;*/

    --blur-config: none;
    /*--blur-config: blur(10px);*/
}
button:hover {
    filter: brightness(85%);
}
body {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    gap: 2rem; 
}

header.nav {
    background-color: var(--main-color);
    width: calc(100% - 20px);
    padding: 0 10px;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header.nav h1 {
    white-space: nowrap;
    color: var(--over-main-color);
}

.fixed {
    position: fixed;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    border-radius: 20px;
    overflow: hidden;
    transform: none;
}
.padd {
    padding: 2rem;
}
.card.login {
    min-width: 350px;
    max-width: 350px;
}
.card.hidden {
    opacity: 0;
    transform: translateY(40px);
}
.card h1 {
    padding: 30px 0;
    text-align: center;
    color: var(--over-main-color)
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.card * {
    width: 100%;
    border-radius: 0;
    border: none;
    color: var(--over-main-color);
}
.card input {
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid var(--over-main-color);
    width: 80%;
    padding: 0.5rem;
    background-color: transparent;
}
.card .status {
    background-color: black;
    padding: 1em;
    border-radius: 2em;
    margin-bottom: 2em;
}
.card form button {
    font-size: 15px;
    margin: 20px;
    padding: 1em;
    border-radius: 0.5em;
    width: fit-content;
    height: 3.5em;
    cursor: pointer;
}
.card .options {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.card .options > *:hover {
    /*filter: invert();*/
    background-color: rgba(0,0,0,0.5);
}
.card .options > * {
    flex: 1;
    height: 3rem;
    border-radius: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--over-main-color);
}
input.valid , textarea.valid {
    border: 1px solid var(--second-color);
}
input.invalid , textarea.invalid {
    border: 1px solid red;
}
input:focus , textarea:focus {
    outline: none;
}
::placeholder {
    color: var(--over-main-color);
    opacity: 50%;
}
:focus::placeholder {
    color: var(--over-main-color);
    opacity: 0%;
}
.card label {
    text-align: center;
}
.navbar {
    position: fixed;
    background-color: var(--main-color);
    transition: width 200ms;
    z-index: 20;
}

nav.navbar > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav.navbar > ul > li {
    margin: 0;
    padding: 0;
    transition: background-color 200ms;
}

nav.navbar > ul > li:hover , nav.navbar > ul > li.selected {
    background-color: var(--second-color);
}

nav.navbar > ul > li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--over-main-color);
    max-width: min-content;
}

nav.navbar > ul > li > a > .icon {
    min-width: 5rem;
    max-width: 5rem;
    min-height: 100%;
    margin: 0 0.5rem;
    text-align: center;
}

nav.navbar > ul > li > a > span {
    display: none;
    margin-left: 1rem;
    white-space: nowrap;
    user-select: none;
}

.viewer {
    width: 100%;
    height: 100vh;
}

@media only screen and (min-width: 601px) {
    .navbar {
        width: 6rem;
        height: 100vh;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }
    nav.navbar:hover {
        width: 18rem;
    }
    nav.navbar:hover > ul > li > a > span {
        display: block;
    }
    .viewer {
        width: calc(100% - 6rem);
        padding-left: 6rem;
        height: 100vh;
    }
    nav.navbar > ul {
        min-height: 100vh;
        align-items: center;
    }
    nav.navbar > ul > li.last {
        margin-top: auto;
    }
    nav.navbar > ul > li {
        width: 100%;
    }
    nav.navbar > ul > li > a {
        min-width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        width: 100vw;
        height: min-content;
        bottom: 0;
        left: 0;
        transition: none;
        overflow-y: hidden;
        overflow-x: auto;
    }
    nav.navbar > ul {
        flex-direction: row;
        justify-content: flex-start;
    }
    nav.navbar > ul > li.last {
        margin-left: auto;
    }
}

.button {
    background-color: rgba(1,1,1,0.25);
    padding: 0.8rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid var(--over-main-color);
    transition: background-color 200ms;
    white-space: nowrap;
    
}

.button:hover {
    background-color: rgba(255,255,255,0.25);
}

a {
    color: var(--over-main-color);
    text-decoration: none;
}

.list {
    color: var(--over-main-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    max-width: min(40rem, calc(100% - 5rem));
    margin: 2rem auto;
}

.list > li {
    background-color: var(--main-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 5px;
}

.list > li {
    transition: max-height 200ms;
    max-height: 40px;
    min-height: 40px;
    overflow: hidden;
}

.list .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

.list .head h2 {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    margin: 0;
    color: var(--over-main-color);
}

.list .head h2.completed {
    text-decoration: line-through;
}

.list .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0.5rem 2rem;
    text-align: left;
}

.list .options {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 1rem;
    min-width: fit-content;
}

.list .options a {
    padding: 0.4rem 1rem;
    user-select: none;
    cursor: pointer;
    transition: background-color 200ms;
    background-color: rgba(1,1,1,0.25);
}

.list .options a:first-child:hover ,
.list .options a:first-child.selected {
    background-color: rgba(256, 0, 0, 0.5);
}

.list .options a:hover ,
.list .options a.selected {
    background-color: rgba(256, 256, 256, 0.5);
}

.list .options a:last-child:hover ,
.list .options a:last-child.selected
{
    background-color: rgba(0, 256, 0, 0.5);
}

.icon {
    min-width: 2rem;
    min-height: 2rem;
    max-width: 2rem;
    max-height: 2rem;
    overflow: visible;
}

.icon.button {
    background-color: rgba(1,1,1,0.25);
    border-radius: 50%;
    padding: .30rem;
    cursor: pointer;
}

.list .button.disabled {
    background-color: rgba(1,1,1,0.5);
    color: grey;
}

.list .button.accordion {
    transform: rotate(0);
    transition: transform 200ms;
}

.list .button.accordion.open {
    transform: rotate(-180deg);
    background-color: rgba(255,255,255,0.25);
}

.navigator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.navigator li {
    list-style: none;
    padding: 1rem 0;
}

.navigator li a {
    background-color: var(--main-color);
    padding: 0.5rem;
    border-radius: 25%;
}

.navigator .selected {
    border: 2px white solid;
}